body {
  padding: 150px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container-narrow {
    background: rgba(255,255,255,0.95);
}

.spacer {
	padding: 40px;
}

.booze-heading {
	font-family: 'Oleo Script', cursive;
}